body{
	background: url(https://images.unsplash.com/photo-1451481454041-104482d8e284?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4fb6668053c6bcc6c2d3cfc0a85eba2a);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}
html{
	height: 100%;
}


.content{
	text-align: center;
	padding-top: 0.5%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.4);
			}
h1,h3{
	color:white;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width: 400px;
}
.buttontext{
	font-family: Lato;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}